@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #f1f1f1;
    color: #0f141e;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: flex-start;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;

    }

    .info img {
        display: block;
        margin: 0 auto;
    }

    .info-text {
        margin-left: 0;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h1 {
    margin-bottom: 20px;
}


.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px #111111;
}

.social {
    margin-bottom: 20px;
}

.social a {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

.info p {
    color: #616161;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.card h2 {
    margin-bottom: 10px;
}

.bg-yellow {
    background: rgb(255, 255, 180);
}

.bg-green {
    background: rgb(180, 255, 180);
}

.bg-red {
    background: rgb(255, 180, 180);
}

.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 7px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 7px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: rgb(59, 59, 59);
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid gray;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: gray;
}

.form-group input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px 0 10px;
    background-color: #f1f1f1;
    border-bottom: solid 1px gray;
    outline: none;
    color: #000;
    font-family: inherit;
}

.row {
    display: flex;
}

.row>.form-group {
    width: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.row>.form-group:last-child {
    margin-right: 0;
}

.btn {
    display: block;
    margin: 0 auto;
    background: #000;
    padding: 15px 20px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15px;

}

.btn:hover {
    opacity: 0.9;
}